
<!-- Footer -->
<footer>
  <div style="color: #FFF;align-items: center;margin:0px auto;width:60%;">
  <h4>Igreja da Cidade</h4>

  <div class="float-container">

    <div class="float-child">
      <div class="green">
  <h5>
  {{lang.WeeklyMeetingHours}}:
  <br/>{{lang.SundayService}}
  <br/>{{lang.BibleSchool}}
  <br/>{{lang.Fellowship}}
  <br/>{{lang.PrayerVigil}}
  <br/>{{lang.MorningPrayer}}
  </h5>
</div>
</div>

<div class="float-child">
  <div class="blue">

  <h5>
    Igreja da Cidade Online:
    <br/>
    {{lang.OnlineInfo}}
  </h5>
</div>
</div>
</div>

  <h6>2012-2021. Copyrights Reserved</h6>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> 
      <!--<div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      </div>-->
    </a>
    <!--<a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>-->
  </div>
  </footer>

  <style>
    .float-container {
    /*border: 3px solid #fff;
    padding: 20px;*/
}

.float-child {
    width: 50%;
    float: left;
    /*padding: 20px;*/
    /*border: 2px solid red;*/
}  
</style>