<app-toolbar></app-toolbar>

<div class="content" role="main">
<app-menubar></app-menubar>
<br/><br/>
<app-video-list [videos]="videos" (editClicked)="loadVideo($event)"></app-video-list>
</div>

    <dlg #dialogcomponent
         [title] ="currentVideoTitle"
         [visible]="statusVisible"
         [dialogType] = "0"
         (onClosed)="OnEditCancel()"
         [closable]= "true"
         [modal] = "true"
         >
         <div id="curr-video-div"></div>
    </dlg>

<app-footer></app-footer>
