.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    /*background-color: #333;*/
    color: black;
    font-weight: 800;
    font-family:Josefin Sans, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: x-large;
  }

  .toolbar img {
    /*margin: 0 16px;*/
    margin:0px auto;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    /*opacity: 0.8;*/
  }
