﻿.showDialog p {
    text-align: center;
}
.showDialog header {
    border-bottom: 1px solid #EFEFEF;
    font-size: 12px;
    padding: 10px;
    display: flex;
}
.showDialog header .title {
    flex-grow: 1;
    cursor: default;
    font-size:large;
}
.showDialog header .exit-button {
    cursor: pointer;
    padding: 0 5px;
}

.showDialog footer {
    padding:15px;
    /*height:35px;*/
    width:80%;
    /*border-top:1px solid#EFEFEF;*/
}
.showDialog
{ 
    display:block;
    min-width: 40%;
    max-width: 45%;
    max-height:80%;
    position: absolute;
    border-radius: 5px;
    /*overflow-y: auto;*/
    position: fixed;
    left: calc(40% - 200px);
    top: 100px;
    background-color:#fff;
    z-index:100;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.hideDialog
{ 
    display:none;
}

.dim
{
			height:100%;
			width:100%;
			position:fixed;
			left:0;
			top:0;
			z-index:1 !important;
			background-color:black;
            filter: alpha(opacity=75); /* internet explorer */
-khtml-opacity: 0.75;      /* khtml, old safari */
-moz-opacity: 0.75;       /* mozilla, netscape */
opacity: 0.75;           /* fx, safari, opera */
}