<h2>Videos</h2>

<p-table [value]="videos" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
paginator="true" resetPageOnSort="false">
  <ng-template pTemplate="body" let-video> 
    <tr>
      <td [ngClass]="'red-bottom-border'"><a data-target="#" (click)="edit(video)">{{ video.title }}</a></td>
      <td [ngClass]="'red-bottom-border'">{{ video.date }}</td>
    </tr>
  </ng-template>
</p-table>

<style>
 .red-bottom-border {
    /*border-bottom: 1px solid#EFEFEF !important;*/
    border-right: 0px !important;
    border-left: 0px !important;
}
</style>
