<app-toolbar></app-toolbar>

<div class="content" role="main">
<app-menubar></app-menubar>

<br/><br/>
    
<h2>{{lang.Donate}}</h2>
{{lang.DonateDesc}}

<br/><br/>
<button type="button" class="btn btn-primary" (click)="give()">{{lang.Give}}</button>
</div>

<app-footer></app-footer>