<app-toolbar></app-toolbar>

<div class="content" role="main">
<app-menubar></app-menubar>
<br/><br/>

    <h2>{{lang.ContactUs}}</h2>
    <div class="float-container">

        <div class="float-child">
          <div class="green">
            <table border="0" cellspacing="8" cellpadding="8" style="padding-top:30px;">
                <tr>
                    <td>
                        <input style="width:350px" id="name" type="text" placeholder="{{lang.Name}}" [(ngModel)]="name" (keyup.enter)="enteredName()" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="width:350px" id="email" type="text" placeholder="{{lang.Email}}" [(ngModel)]="email" (keyup.enter)="enteredEmail()" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>
                <textarea name="message" type="text" id="message" placeholder="{{lang.Msg}}" [(ngModel)]="message" class="form-control" rows="7" cols="40">

                </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary mb-2" (click)="submitMessage()">{{lang.SendMsg}}</button>
                    </td>
                </tr>
            </table>
          </div>
        </div>
        
        <div class="float-child">
          <div class="blue">
            <table border="0" cellspacing="8" cellpadding="8" style="padding-top:30px;">
                <tr>
                    <td>
                        <b>{{lang.Location}}:</b>
                        <br/>
                        <p>
                        Gonçalo Sampaio, 361 - PORTO
                        (zona da Boavista, Bom Sucesso)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>E-mail:</b> geral@idcidade.org</p>
                        <p>
                        <b>{{lang.Maincontacts}}: </b>
                        <br/>223-CIDADE | 919-CIDADE
                        (223 243 233 | 919 243 233)
                        </p>
                        <p><b>{{lang.Othercontacts}}: </b>967 900 000 | 932 741 000</p>
                    </td>
                </tr>
            </table>
          </div>
        </div>
        
      </div>
</div>

<style>
    .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}  
</style>
<app-footer></app-footer>