<app-toolbar></app-toolbar>

<div class="content" role="main">
<app-menubar></app-menubar>
<br/><br/>
<h2>Live - Celebracao De Vida</h2>

<div id="live-div" class="live-div" style="width:100%;height:100%">
    
<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/qu9lFOpssXE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
</div>
</div>

<app-footer></app-footer>
